#justmacintoshthings
.DS_Store

# repositorion juurihakemistossa olevat tiedostot, joiden pääte on tmp 
/*.tmp

# hakemisto jonka nimi on build ignoroidaan
/build/

# gradlen cache
/**/.nb-gradle/
/**/.gradle/
/**/build/
/Verkkokauppa1/private/